<div class="card card-outline card-primary">
  <div class="card-header">
    <%=current_order.status%>
  <div class="card-tools">
      <!-- Collapse Button -->
      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
    </div>
  </div>
  <div class="card-body">
    <%=current_order.id%>
  </div>
</div>